.post {
    margin-left: 5%;
    margin-top: 1%;
    border: 2px solid rgb(186, 206, 196);
    background-color: rgba(238, 238, 238, 0.233);
    color: rgb(78, 70, 70);
    min-height: 330px;
    width: 40%;
    float:left;
    padding: 1%;
}

.pic{
    height: 200px;
    border: solid gray;
    float: left;
    margin: 1%;
}

.desc{
    margin: 0px;
}

.post h3, h2 {
    margin-bottom: 5px;
}

.desc h3, p {
    margin: 0px;
}

.bold{
    font-weight: 600;
}