* {
  margin: 0px;
  padding: 0%;
}

.word {
  font-size: 200%;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
  color: white;
}

.item1,
.item2 {
  float: left;
  width: 49%;
}

.item1 {
  border-right: 1px solid black;
}

.box {
  margin: auto;
  background: white;
  border-radius: 10px;
  height: 90vh;
  width: 75%;
  padding-top: 3%;
  /* box-shadow: 10px 10px 5px grey; */
  text-align: center;
}

.box2 {
  margin-top: 3%;
  height: 60%;
  width: 100%;
}

.box3 {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}

.back {
  background-color: rgb(49, 48, 48);
  padding: 2%;
}

.input {
  margin: 1%;
  width: 60%;
  height: 5vh;
  padding-left: 1%;
  margin-bottom: 10%;
}

.head {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: auto;
  font-weight: 800;
  font-size: 400%;
  background: linear-gradient(45deg, #f12711, #f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.submit {
  margin-top: 3%;
  background: linear-gradient(45deg, #fdc830, #f37335);
  outline: transparent;
  height: 10%;
  width: 90%;
  border-radius: 3%;
  border: thin;
}
