.contact-section{    
  background-size: cover;
  padding: 40px 0;  
  background: linear-gradient(to top, #2c3e50, #bdc3c7);
}


.contact-section h1{
  text-align: center;
  color: #ddd;
}


.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}


.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}


.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #ddd;
  padding: 20px 40px;
  outline: none;
  color:black;
  transition: 0.5s;
}


.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}


textarea.contact-form-text{
  resize: none;
  height: 120px;
}


.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}


.contact-form-btn:hover{
  background: #2980b9;
}


.address{
    margin-top: 50px;
}


hr{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}