#homes {
    overflow: auto;
}

.posts{
    /* min-height: 650px; */
    min-width: 50%;
    float: left;
}

#homes h1{
    margin-left: 5%;
    border-bottom: 3px dotted grey;
    width: 30%;
}

.standinMap {
    width: 48%;
    border: solid gray;
}
