* {
  margin: 0px;
  padding: 0px;
}

.box1 {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: white;
  width: 60%;
  height: 80vh;
  border-radius: 3%;
  box-shadow: 0px 0px 36px white;
}

.details {
  float: left;
  padding-top: 2%;
}

.back1 {
  background-color: rgb(41, 42, 73);
  padding: 1%;
}

.head1 {
  font-style: italic;
  font-size: xx-large;
  margin: auto;
  font-weight: bolder;
  background: linear-gradient(90deg, #0f0c29, #302b63, #ff0080);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  margin-left: 35%;
  margin-right: 35%;
}

.icondiv {
  padding: 2%;
  height: 65%;
  margin-top: 2%;
  width: 45%;
  border-right: 1px solid black;
  float: left;
}

.icon1 {
  height: 90%;
}

.input1 {
  display: block;
  padding-left: 5%;
  margin-left: 20%;
  width: 40vh;
  height: 5vh;
  margin-top: 20%;
}

.submit1 {
  outline: none;
  background: linear-gradient(#ff00cc, #333399);
  width: 40vh;
  height: 5vh;
  margin-top: 20%;
  margin-left: 22%;
  border-radius: 2vh;
  color: white;
  font-size: 3vh;
  font-style: italic;
}
