#bar {
  /* width: 100%; */
  height: 85px;
  border-bottom: solid grey;
}

#navOptions {
  margin-top: 40px;
  margin-right: 5px;
  float: right;
}

#navOptions a {
  text-decoration: none;
  padding-right: 15px;
  color: grey;
  transition: 1s ease;
}

#navOptions a:hover {
  color: blue;
  letter-spacing: 2px;
}

.title {
  margin-left: 40px;
  float: left;
}

.profile-img {
  float: right;
  height: 60px;
  margin-top: 10px;
  margin-right: 1%;
}

.signout {
  background-color: white;
  padding: 2px;
  font-size: 15px;
  float: right;
  border: transparent;
  font-weight: bold;
  color: gray;
  margin: 3px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}
