.frontlinerBasicInfo{        
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    padding-bottom: 35px;
    padding-top: 35px;
    overflow: auto;
}


.frontlinerProfilePicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
}


.frontlinerProfile-btn{
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}


.frontlinerProfile-btn:hover{
    background: #2980b9;
}


.frontline_general_info{
    text-align: center;
    font-family: sans-serif;    
    line-height: 45px;
    color: #fff;
}

.chooseImg {
    margin: auto;
    color: white;
    width: 12%;
    text-align: center;
  }