.post {
    margin: 1% 2% 5% 5%;
    border: 2px solid rgb(186, 206, 196);
    background-color: rgb(247, 247, 247);
    color: rgb(78, 70, 70);
    min-height: 420px;
    width: 43%;
    padding: 1%;
    float: left;
    /* overflow: scroll; */
}

.pic{
    height: 200px;
    border: solid gray;
    float: left;
    margin: 1%;
}

.desc{
    margin: 0px;
}

.post h3, h2 {
    margin-bottom: 5px;
}

.desc h3, p {
    margin: 0px;
}

.bold{
    font-weight: 600;
}

.del {
    float: right;
    color: white;
    background-color: red;
    font-size: 20px;
    border-radius: 10px;
    border: 1px white;
    padding: 5px;
    margin-top: 5%;
    margin-right: 2%;
}

.select {
    float: right;
    color: white;
    background-color: skyblue;
    font-size: 20px;
    border-radius: 25%;
    border: 1px white;
    padding: 5px;
    margin-top: 5%;
    margin-right: 2%;
}