body {
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: top;
     background-image:url(http://bit.ly/2gPLxZ4);
     width: 80%;
     height: 100%;
     border: 20px solid #41295a;
     padding: 20px;
     margin: 20px auto;
     max-width: 700px;
}
    
    
.container {
     margin-bottom: 20px;
     font-family: sans-serif;
}


h2 {
     font-size: 2.0rem;
     font-weight: bold;
     color: white;
}


.aboutUs-para {
     border-left: 5px solid #bdc3c7;
     padding-left: 5px;
     font-family: sans-serif;
     color: white;
}
    
    
